# Environment
.env
.env.local

# Backend
backend/vendor/
backend/var/
backend/config/jwt/
backend/.env.local
backend/.env.*.local

# Frontend
frontend/node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Docker volumes data
mysql_data/
.claude/
